@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(#C74326, #FB927B) no-repeat fixed;
  height: 100%;
}

.AppContainer {
  display: block;
  max-width: 400px;
}

.form-check-input:checked {
  background-color: #FA5530;
  border-color: #FA5530;
}

span {
  display: inline-block;
}

@media (min-width: 400px) {
  .AppContainer {
    min-width: 400px;
  }
}